/* Copia del estilo ".animated" de "src/assets/css/animated.css" pero disminuyendo su duración*/
.custom-animation-fast {
    -webkit-animation-duration:0.3s;
    animation-duration:0.3s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}